@page "/Adults"
@using Models
<h3>Adults</h3>

<table class="table">
        <thead>
        <tr>
            <th>Person ID</th>
            <th>Name ID</th>
            <th>Surname</th>
            <th>Age</th>
        </tr>
        </thead>
        <tbody>
        
          @foreach (var item in adults) {
                    <tr>
                       
                    </tr>
                }

        </tbody>
    </table>

@code {
    private List<Adult> adults;

}