@page "/Adults"

@using Data
@using Models
@inject AdultsData AdultsData
@inject NavigationManager nav

<h3>Adults</h3>

<table class="table">
        <thead>
        <tr>
            <th>Person ID</th>
            <th>Name ID</th>
            <th>Surname</th>
            <th>Age</th>
        </tr>
        </thead>
        <tbody>
     
        </tbody>
    </table>

@code {
    private IList<Adult> adults;
    
    protected override Task OnInitializedAsync()
    {
        adults = AdultsData.GetAllAdults();
        return base.OnInitializedAsync();
    }

    public void EditAdult(int id)
    {
        nav.NavigateTo($"EditAdult/{id}");
    }

}